.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.big {
  font-size: 24px;
}
.tiny {
  font-size: 8px;
}
.centered {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.font-change {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.orange {
  color: orange;
}
.styledFont {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 18px;
  color: navy;
  text-transform: uppercase;
}

#styledImage {
  border-style: solid;
  border-color: red;
  border-width: 16px;
  padding: 8px;
}
